.link_to_detail_view {
    text-decoration: none;
    font-family: helvetica;
    margin-top: 20px;
}
.all_books {
    margin-left: 500px;
}
.link_to_detail_view:hover {
    text-decoration: underline;
  }
  
.link_to_detail_view:active {
    color: #000;
  }
  
.link_to_detail_view:visited {
    color: purple;
  }
.temp {
    background-color: #FAF9F7;
    position: absolute;
    height: 500px;
    width: 230px;
}
* {
    margin: 0;
    padding: 0;
}
.start_menu {
    margin-top: 150px;
}
#header {
    background: url(https://media.giphy.com/media/bEPPUg7pKaZysuF4GM/giphy.gif);
    background-size: cover;
    width: 100%;
    height: 700px;
    margin: 0;
    text-align: end;
    
}
.login_and_registration {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: #DC143C;
    font-size: 200%;
    border-radius: 15px;
}
.login_and_registration:hover {
    transition-duration: 0.3s;
    color: #fff;
    background-color:  #DC143C;
}
.navigation_links {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: #DC143C;
    font-size: 200%;
    margin: 15px;
    padding-top: 5px;
    
}
#navigation {
    text-align: center;

}
#login_and_registration {
    position: absolute;
    margin-left: 85%;
    margin-top: 2%;
}
.navigation_links {
    display: inline;
    position: relative;
    overflow: hidden;
  }
.navigation_links:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: #DC143C;
    height: 4px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.navigation_links:hover:after,
.navigation_links:focus:after,
.navigation_links:active:after {
    right: 0;
}