li {list-style-type: none;}

.all_data {
    margin-left: 500px;
}
  
.link_to_detail_view:active {
    color: #000;
  }
  
.temp {
    border: 1px solid #000;
    position: absolute;
    height: 500px;
    width: 230px;
    margin-left: 20px;
    padding-left: 15px;
}
* {
    margin: 0;
    padding: 0;
}
.start_menu {
    margin-top: 150px;
}
#header {
    background: url(https://media.giphy.com/media/bEPPUg7pKaZysuF4GM/giphy.gif);
    background-size: cover;
    width: 100%;
    height: 700px;
    margin: 0;
    text-align: end;
    
}
.login_and_registration {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: #DC143C;
    font-size: 200%;
    border-radius: 15px;
}
.login_and_registration:hover {
    transition-duration: 0.3s;
    color: #fff;
    background-color:  #DC143C;
}
.navigation_links {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: #DC143C;
    font-size: 200%;
    margin: 15px;
    padding-top: 5px;
    
}
#navigation {
    text-align: center;

}
#login_and_registration {
    position: absolute;
    margin-left: 85%;
    margin-top: 2%;
}
.navigation_links {
    display: inline;
    position: relative;
    overflow: hidden;
  }
.navigation_links:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: #DC143C;
    height: 4px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.navigation_links:hover:after,
.navigation_links:focus:after,
.navigation_links:active:after {
    right: 0;
}
.all_genres {
    margin-left: 500px;

}
.all_author {
    margin-left: 500px;
}
.search_form_genre {
    background-color: #FAF9F7;
    position: absolute;
    height: 500px;
    width: 230px;
}
.all_series {
    margin-left: 500px; 
}
.all_author_books {
    margin-left: 500px;  
}
.all_series {
    margin-left: 300px;  
}
.all_books_serie {
    margin-left: 500px;  
}
#decrease_sort {
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;

}
#increase_sort {
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
#decrease_sort:hover {
    background-color: #fff;
    color: #000;
    transition-duration: 0.3s;
}
#increase_sort:hover {
    background-color: #fff;
    color: #000;
    transition-duration: 0.3s;
}
.submit_button {
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.submit_button:hover {
    background-color: #fff;
    color: #000;
    transition-duration: 0.3s;
}
#id_book_name {
    border-left: none; 
    border-right: none; 
    border-top: none;
    border-bottom: 2px solid;
    text-align: center;
    outline: none;
    background-color: transparent;
}
#id_genre_name {
    border-left: none; 
    border-right: none; 
    border-top: none;
    border-bottom: 2px solid;
    text-align: center;
    outline: none;
    background-color: transparent;
}
.errorlist {
    visibility: collapse;
}
#id_author_name {
    border-left: none; 
    border-right: none; 
    border-top: none;
    border-bottom: 2px solid;
    text-align: center;
    outline: none;
    background-color: transparent;  
}
.temp_for_author {
    padding-left: 15px;
    border: 1px solid #000;
    position: absolute;
    height: 200px;
    width: 230px;
    margin-left: 20px;
}
#id_serie_name {
    border-left: none; 
    border-right: none; 
    border-top: none;
    border-bottom: 2px solid;
    text-align: center;
    outline: none;
    background-color: transparent;  
}
.link_to_detail_view {
    text-decoration: none;
    color: #DC143C;
}
.link_to_detail_view:hover {
    transition-duration: 0.3s;
    border-bottom: 1px solid #000;
}
.num {
    display: none;
  }
.paginator {
    line-height: 150%;
    cursor: pointer;
    color: #DC143C;
    text-align: center;
    font-size: 150%;
  }
.paginator > span {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  .paginator_active {
    color: #000;
  }
  .icon {
      width: 100px;
      height: 100px;
      position: absolute;
      background-color: transparent;
  }